html { font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
-ms-text-size-adjust: 100%; /* 2 */ }

html, button, input, select, textarea { font-family: 'Lato', sans-serif; }

body { margin: 0; font-family: 'Lato', sans-serif; }

a:focus { outline: thin dotted; }
/* * Improves readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

/* ==========================================================================
Typography
========================================================================== */
/* * Addresses font sizes and margins set differently in IE 6/7.
* Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5, * and Chrome. */

h1 { font-size: 2em; margin: 0.67em 0; }
h2 { font-size: 1.5em; margin: 0.83em 0; }
h3 { font-size: 1.17em; margin: 1em 0; }
h4 { font-size: 1em; margin: 1.33em 0; }
h5 { font-size: 0.83em; margin: 1.67em 0; }
h6 { font-size: 0.75em; margin: 2.33em 0; }


/* ==========================================================================
Headings
========================================================================== */

.hero h1 { font-size: 60px; font-weight: 100; color: #fff; letter-spacing: -1px; margin: 100px 0 20px 0; }


/* ==========================================================================
Custom Styles
========================================================================== */
.hero { background: url('../img/hero.jpg') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding: 65px 0; height: auto; }
.pull { display: none; }
p { font-weight: 300; }
.navigation { background-color: #1F1F1F; }
.nav-last { margin-bottom: 50px; }
nav ul { list-style: none; padding: 0; }
nav ul li a { color: rgba(255, 255, 255, 0.6); padding: 20px; display: block; border-bottom: 1px dotted rgba(255, 255, 255, 0.2); transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; padding-left: 0; position: relative; }
nav ul li a:hover, nav ul li a:focus { color: rgba(255, 255, 255, 1); text-decoration: none; }
.indicator { position: absolute; right: 0 !important; }
.hero p { color: #d0e7e9; font-style: italic; font-size: 17px; }
.hero a { color: #fff; }
.hero-play-btn { height: 99px; width: 99px; background: url('../img/play-btn.png') no-repeat center center; display: block; text-indent: -99999px; margin: 80px auto 260px; transition: all 1s ease; -moz-transition: all 1s ease; -webkit-transition: all 1s ease; -o-transition: all 1s ease; }
.hero-play-btn:hover, .hero-play-btn:focus { transform: translate(0, -15px); -webkit-transform: translate(0, -15px); -o-transform: translate(0, -15px); -moz-transform: translate(0, -15px); }
.get-started-btn { background-color: #7accc8; padding: 20px 80px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; font-size: 22px; letter-spacing: 2px; box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4); transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; display: inline-block; }
.get-started-btn:hover, .get-started-btn:focus { text-decoration: none; background-color: #e8b968; }
.flex-container { background-color: #f7f7f7; padding: 125px 0 35px; text-align: center; }
p.twitter-post { color: #848789; font-size: 24px; font-style: italic; font-weight: 300; margin-bottom: 100px; }
.sign-up { text-align: center; }
.signup-input { border: solid 1px #d3d7d9; padding: 25px; width: 65%; color: #929292; font-style: italic; letter-spacing: 1px; }
.submit-btn { background-color: #64c29e; color: #fff; border: solid 1px #64c29e; font-weight: 300; padding: 25px 50px; }
section.sign_up { padding: 40px 0 110px 0; }
footer { background-color: #f7f7f7; padding: 100px 0; }
footer p { font-size: 13px; margin: 0; }
.footer-leftcol p { text-align: left; }
.footer-rightcol p { text-align: right; font-style: italic; margin-top: 20px; }
.bold-16p { font-size: 15px; font-weight: 600; }
.footer-midcol { margin-left: auto; margin-right: auto; }
.footer-midcol ul { text-align: center; padding: 0; }
.footer-midcol li { list-style: none; display: inline-block; margin-right: 15px; }
.footer-midcol li a { opacity: 1; }
.footer-midcol li a:hover { opacity: 0.5; }
.twitter-icon { background: url(../img/twitter-icon.png); height: 34px; width: 35px; display: block; text-indent: -9999px; }
.facebook-icon { background: url(../img/facebook-icon.png); height: 34px; width: 35px; display: block; text-indent: -9999px; }
.pintrest-icon { background: url(../img/pintrest-icon.png); height: 34px; width: 35px; display: block; text-indent: -9999px; }
.feature-text { padding: 0px 20px 40px 40px; font-style: italic; color: #7a8387; font-size: 16px; }.testimonials { background: #5b6869 url('../img/tBG01.jpg') no-repeat left center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding: 130px 0; }
.features { padding: 70px 0; }
.features p { color: #7a8387; font-size: 16px; word-spacing: 2px; line-height: 30px; }
.features-leftcol { border-right: 1px solid rgba(208, 217, 226, 0.4); padding-right: 60px; }
.features-rightcol { padding-left: 60px; }
.margin-bottom { margin-bottom: 70px; }
canvas{background-color:rebeccapurple; display: block;margin: auto;border: 1px solid black;}