<footer>
    <div class="container">
        <div class="row">
          <div class="col-md-4 footer-leftcol">
            <p><span class="bold-16p">AOD New York</span><br>
            2250 Lexington Avenue<br>
            Seattle, WA 10035 - <a href="#">warsame@domain.com</a>
            </p>
          </div>
          <div class="col-md-4 footer-midcol">
            <ul>
              <li><a href="#" class="twitter-icon">Twitter</a></li>
              <li><a href="#" class="facebook-icon">Facebook</a></li>
              <li><a href="#" class="pintrest-icon">Pintrest</a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="col-md-4 footer-rightcol">
            <p>Bixin <a href="#">Software</a></p>
          </div>
        </div>
      </div>
  </footer>